---
import Layout from "../../../layouts/Layout.astro";
import HeaderSection from "../../../components/HeaderSection.astro";
import SectionParking from "../../../components/SectionParking.astro";
import users from "../../../mocks/users.json";
import CircularPercentage from "../../../components/CircularPercentage.astro";

export async function getStaticPaths() {
  return users.flatMap((user) =>
    user.places.map((place) => ({
      params: { id: user.id, name: place.name },
    })),
  );
}

const { id, name } = Astro.params;
console.log(id, name);

// Buscar el usuario y su lugar específico
const user = users.find((u) => u.id === id);
const place = user?.places.find((p) => p.name === name);

// Opcionalmente manejar si no se encuentra
if (!user || !place) {
  console.error("Usuario o lugar no encontrado.");
}
---

<Layout>
  <main class="p-4 w-full gap-4 max-h-screen flex flex-col mb-12">
    <section>
      <HeaderSection title={place?.name || "Lugar no encontrado"} />
      <div class="flex flex-row justify-around items-center p-4 gap-3 w-full">
        <div class="progress-circle">
          <svg viewBox="0 0 36 36" class="circular-chart">
            <path
              class="circle-bg"
              d="M18 2.0845 a 15.9155 15.9155 0 1 1 -0.0001 0"></path>
            <path
              class="circle"
              stroke-dasharray={`${((place?.avaliableSpots || 0) / (place?.totalSpots || 1)) * 100},100`}
              d="M18 2.0845 a 15.9155 15.9155 0 1 1 -0.0001 0"></path>
          </svg>
          <div class="percentage">
            {
              (
                ((place?.avaliableSpots || 0) / (place?.totalSpots || 1)) *
                100
              ).toFixed(1)
            }%
          </div>
        </div>
        <div class="flex flex-col items-start flex-1">
          <p class="text-md">{place?.avaliableSpots}/{place?.totalSpots}</p>
          <p class="text-sm text-gray-500">
            Última actualización: Mier 12/03/2025 10:30 AM
          </p>
        </div>
      </div>
    </section>
    <div class="flex flex-col md:flex-row gap-4 w-full">
      <section class="lg:basis-2/3">
        <div>
          <HeaderSection title="Diagrama de Resultados" />
          <div class="relative w-full h-48">
            <div class="flex flex-row gap-4 h-full overflow-x-auto">
              <div
                class="card rounded-lg shadow-md bg-white p-4 flex flex-col items-center gap-4"
              >
                <div>
                  <CircularPercentage avaliableSpots={place?.promedio_anual} />
                </div>
                <div>
                  <h1 class="text-lg font-bold uppercase text-wrap text-center">
                    Promedio Anual
                  </h1>
                </div>
              </div>
              <div
                class="card rounded-lg shadow-md bg-white p-4 flex flex-col items-center gap-4"
              >
                <div>
                  <CircularPercentage
                    avaliableSpots={place?.promedio_mensual}
                  />
                </div>
                <div>
                  <h1 class="text-lg font-bold uppercase text-wrap text-center">
                    Promedio Mensual
                  </h1>
                </div>
              </div>
              <div
                class="card rounded-lg shadow-md bg-white p-4 flex flex-col items-center gap-4"
              >
                <div>
                  <CircularPercentage
                    avaliableSpots={place?.promedio_semanal}
                  />
                </div>
                <div>
                  <h1 class="text-lg font-bold uppercase text-wrap text-center">
                    Promedio Semanal
                  </h1>
                </div>
              </div>
              <div
                class="card rounded-lg shadow-md bg-white p-4 flex flex-col items-center gap-4"
              >
                <div>
                  <CircularPercentage avaliableSpots={place?.promedio_diario} />
                </div>
                <div>
                  <h1 class="text-lg font-bold uppercase text-wrap text-center">
                    Promedio Diario
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="lg:basis-1/3 overflow-y">
        <div class="flex flex-col gap-4 flex-1 relative">
          <HeaderSection title="Resumen de Resultados" />
          <ul class="grid grid-cols-3 gap-4 font-semibold">
            <li class="col-span-2">La hora con mayor aforo de hoy:</li>
            <li class="text-right font-bold text-gray-500">
              {place?.mejor_hora_dia}
            </li>
            <li class="col-span-2">La hora con menor aforo fue:</li>
            <li class="text-right font-bold text-gray-500">
              {place?.peor_hora_dia}
            </li>
            <li class="col-span-2">El dia de la semana con mayor aforo fue:</li>
            <li class="text-right font-bold text-gray-500">
              {place?.mejor_dia_semana}
            </li>
            <li class="col-span-2">El dia de la semana con menor aforo fue:</li>
            <li class="text-right font-bold text-gray-500">
              {place?.peor_dia_semana}
            </li>
            <li class="col-span-2">El mes con mayor aforo fue:</li>
            <li class="text-right font-bold text-gray-500">
              {place?.mejor_mes_anio}
            </li>
            <li class="col-span-2">El mes con menor aforo fue:</li>
            <li class="text-right font-bold text-gray-500">
              {place?.peor_mes_anio}
            </li>
          </ul>
        </div>
      </section>
    </div>
  </main>
</Layout>

<style>
  .progress-circle {
    height: 85px;
    position: relative;
    aspect-ratio: 1;
    max-height: 100px;
  }

  .circular-chart {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg); /* Para que comience en la parte superior */
  }

  .circle-bg {
    fill: none;
    stroke: #dcdcdc; /* Color del fondo */
    stroke-width: 3.8;
  }

  .circle {
    fill: none;
    stroke: oklch(0.457 0.24 277.023); /* Color del progreso */
    stroke-width: 3.8;
    stroke-linecap: round; /* Extremos redondeados */
    transition: stroke-dasharray 0.3s ease;
  }

  .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.15rem;
    font-weight: bold;
    color: oklch(0.457 0.24 277.023);
  }
</style>
